## Let's Get Market Data from Different Finances Website like Google Finance, Yahoo Finance and AlphaVantage

We will use Pandas_Datareader for fetching data from Website for tha we need <b>"Stock Name","Finance Name from where we are fetching data [Google Finance]",startdate,enddate</b>.
<br>
For AlphaVantage and Qandl we will need API key to get Data

In [1]:
# Raw Packages
import numpy as np
import pandas as pd
import plotly.graph_objs as go

In [2]:
# Data Sources
from pandas_datareader import data,wb

In [3]:
# Convert date in right format
# Today's date as variable
from datetime import date

In [4]:
startdate = pd.to_datetime('2018-07-15')
enddate = pd.to_datetime(date.today())

## Yahoo Finance

In [9]:
data.DataReader("SPY",'yahoo',startdate,enddate)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-07-16,279.799988,278.839996,279.640015,279.339996,48201000.0,264.619568
2018-07-17,280.910004,278.410004,278.470001,280.470001,52315500.0,265.689911
2018-07-18,281.179993,280.059998,280.559998,281.059998,44593500.0,266.248901
2018-07-19,280.739990,279.459991,280.309998,280.000000,61412100.0,265.244720
2018-07-20,280.480011,279.500000,279.769989,279.679993,82337700.0,264.941559
...,...,...,...,...,...,...
2021-08-26,448.859985,446.160004,448.609985,446.260010,57829600.0,446.260010
2021-08-27,450.649994,447.059998,447.119995,450.250000,77201900.0,450.250000
2021-08-30,453.070007,450.709991,450.970001,452.230011,48357400.0,452.230011
2021-08-31,452.489990,450.920013,452.130005,451.559998,59246900.0,451.559998
2021-09-01,452.600494,452.029999,452.130005,452.309998,3871095.0,452.309998

## Google Finance

In [12]:
data.DataReader("AAPL",'stooq',startdate,enddate)

               Open     High      Low    Close    Volume
Date
2021-08-31  152.660  152.800  151.290  151.830  86453117
2021-08-30  149.000  153.490  148.610  153.120  90956723
2021-08-27  147.480  148.750  146.830  148.600  55802388
2021-08-26  148.370  149.120  147.510  147.540  48597195
2021-08-25  149.810  150.320  147.800  148.360  58991297
...             ...      ...      ...      ...       ...
2018-07-20   46.288   46.439   45.899   46.208  85790102
2018-07-19   45.783   46.468   45.783   46.313  84052885
2018-07-18   46.288   46.293   45.840   45.954  67921714
2018-07-17   45.797   46.311   45.662   46.211  64363262
2018-07-16   46.228   46.492   45.959   46.082  62327222

[789 rows x 5 columns]

## Alphavantage API

In [13]:
# Forex Data
# Conversion from GBP to USD
data.DataReader("GBP/USD",'av-forex',startdate,enddate,api_key='Your api key')

                                   GBP/USD
From_Currency Code                     GBP
From_Currency Name  British Pound Sterling
To_Currency Code                       USD
To_Currency Name      United States Dollar
Exchange Rate                   1.37932000
Last Refreshed         2021-09-01 13:53:22
Time Zone                              UTC
Bid Price                       1.37929900
Ask Price                       1.37932000